/***** Custom Headings
*****/
h1 ←{
    color: #fff;
    text-align: center;
}


/***** Cover image CSS
*****/

.cover {
    background: url(img/schienen.jpg);
    background-size: cover;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}




/***** Classes to present our Features, managing Container's float
*****/

.featureleft {
    float:left;
    margin: 50%;
    max-width: 500px;
}

.featureright {
    float:right;
    margin: 50%;
    max-width: 500px;
}
